@charset "UTF-8";

/* Estilo para tela */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

header {
    background-color: lightseagreen;
    text-align: center;
    padding: 10px;
}

menu ul {
    background-color: rgb(27, 136, 130);
    padding: 20px;
    list-style-type: none;
    border-radius: 20px;
}

menu li {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

menu li:hover {
    color: black;
    background-color: rgba(240, 248, 255, 0.644);
    transition: background-color .5s;
}

article {
    width: 600px;
    text-align: justify;
    display: block;
    margin: auto;
    line-height: 1.3em;
    padding: 15px;
}